
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: oklch(67.3% 0.182 276.935); /* Indigo 400 */
  --color-deep-primary: oklch(35.9% 0.144 278.697); /* Indigo 900 */
  --color-primary-light: oklch(43.2% 0.232 292.759); /* Violet 500 */
  --color-secondary: #99711a;

  --secondary-color: #f5f3ff;

  --color-bg-primary: oklch(96.9% 0.016 293.756);
  --bg-color: oklch(0.968 0.007 247.896);

  --font-monteCarlo: "MonteCarlo";
  --font-greyQo: "Grey Qo", sans-serif;
  --font-josefinSlab: "Josefin Slab", serif;
  --font-lora: "Lora", serif;
  --font-cinzel: "Cinzel", serif;
  --font-elsie: "Elsie", serif;
}

:root {
  background-color: var(--color-bg-primary);
}

.name {
  @apply px-5 font-monteCarlo text-8xl text-transparent bg-clip-text bg-gradient-to-r from-yellow-700 via-yellow-500 to-yellow-400;
}
